.Home_Contenedor {
    background-color: #F67E08;
}

.Centrar_Footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
  overflow-x: hidden; /* Evita scroll horizontal */
}


.loading-container {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: #666;
}