.Home_Separador {
    padding: .5rem;
    background-color: #f49b43;
    
}

.Home_Contenedor {
    background-color: rgb(234, 124, 21, 0.8)
}

.Centrar_Footer {
    display: flex;
    justify-content: center;
    align-items: center;
}