.Home_Contenedor {
    background-color: #F67E08;
}

.Centrar_Footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
  overflow-x: hidden; /* Evita scroll horizontal */
}