/*Terminada, por favor NO TOCAR*/
.Navbar {
  padding-top: 1rem;
  background-color: #F67E08;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .Navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem 1rem;
  }
}

.Navbar_Contenedor_Logo {
  transition: .7s;
  height: 5rem; /* Altura fija para el contenedor del logo */
}



.Navbar_Contenedor_Logo:hover {
  height: 6rem;
}

.Logo {
  height: 100%; /* La imagen ocupa el 100% del contenedor */
  object-fit: contain; /* Asegura que la imagen no se distorsione */
}

.Navbar_Contenedor_Links {
  width: auto; /* Ancho según contenido */
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .Navbar_Contenedor_Links {
    flex-direction: row;
    gap: 1rem;
  }
}

.Link_Acceder, 
.Link_Nosotros {
  padding: 1rem;
  transition: .3s;
}

.Link_Acceder:hover, 
.Link_Nosotros:hover {
  background-color: #D46D07;
  font-weight: bold;
  cursor: pointer;
}

.Link {
  color: white;
  text-decoration: none;
  font-size: 19.2px; 
}

@media (min-width: 768px) {
  .Link {
    border-radius: 0.8rem;
  }
  .Link_Acceder {
      background-color: #FF9A3D;
      border-radius: 8px;
      font-weight: bold;
  }

}

