
.Carrusel_Contenedor {
    display: flex;
    align-items: center;
    height: 30rem;
    
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    
} 

.Carrusel_Imagenes {
    height: 100%; /* La imagen ocupa el 100% del contenedor */
    width: 100%;
    object-fit: cover;
    
}

.Contenedor_Imagenes {
    position: relative;
    object-fit: cover;
    width: inherit;
    height: inherit;
    z-index: 1;
    max-width: 1250px;
}

.Boton_Contenedor {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
   
}

@media (min-width: 1250px) {
    .Boton_Contenedor {
        width: 1250px;
    }
}


.Carrusel_Boton {
    border-radius: 40%;
    background-color: transparent;
    border-color: white;
    border-width: .5rem;
    transition-duration: 1s;
}

.Carrusel_Boton:hover {
    cursor: pointer;
    opacity: 80%;
}

.Boton_Izq {
    margin-left: 2.5rem;
}

.Boton_Der {
    margin-right: 2.5rem;
}










