/* Acá van los globales */

:root {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, :root {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before, 
*:after {
  box-sizing: inherit;
}

.Contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

